.DS_Store
.env.local
.env
.next
.playwright-cli
node_modules
npm-debug.log*
server/automation/state/auth/*.json
server/output/jobs/*
server/output/auth-store.json
server/output/reports/*
!server/output/reports/.gitkeep
